{%  extends 'AppBundle::base.html.twig' %}

{% block title %}
    {{ 'app.feed_processor.title'|trans }}
{% endblock %}

{% block body %}
    <div ng-app="FeedProcessor" class="container">
        <h1>{{ block('title') }}</h1>
        <div ng-controller="FeedController">
            <form ng-submit="submit()" id="feed-form">
                <p class="row">
                    <label class="col-sm-2" for="url">{{ 'app.feed_processor.form.url.label'|trans }}</label>
                    <input class="col-sm-10" type="text" id="url" ng-model="url">
                </p>
                <p class="row">
                    <label class="col-sm-2" for="offset">{{ 'app.feed_processor.form.offset.label'|trans }}</label>
                    <input class="col-sm-1" type="text" id="offset" ng-model="offset">
                </p>
                <p class="row">
                    <label class="col-sm-2" for="limit">{{ 'app.feed_processor.form.limit.label'|trans }}</label>
                    <input class="col-sm-1" type="text" id="limit" ng-model="limit">
                </p>
                <p class="row">
                    <input class="btn-primary col-lg-offset-5 col-sm-2" type="submit"
                           value="{{ 'app.feed_processor.form.submit'|trans }}">
                </p>
            </form>

            <p ng-show="isFormSubmitted">
                {{ 'app.feed_processor.products.totalCount'|trans }}<span ng-bind="totalItemsInFeed"></span>
            </p>
            {{ block('pagination') }}
            <div ng-if="isFormSubmitted" ng-repeat="product in products">
                <p class="product-item row">
                    {% verbatim %}
                        <div class="product-image-container col-sm-1 col-lg-offset-1">
                            <img ng-src="{{ product.imageURL }}" alt="{{ product.name }}" class="img-responsive">
                        </div>
                        <div class="product-decription-container col-sm-19">
                            <div class="product-id" ng-bind="product.productID"></div>
                            <div class="product-title">
                                <a href="{{ product.productURL }}" ng-bind="product.name"></a>
                            </div>
                            <div class="product-price" ng-bind="product.price|currency:product.price_currency"></div>
                            <div class="product-categories" ng-repeat="category in product.categories">
                                <span ng-bind="category" class="label label-success"></span>
                            </div>
                            <div class="product-description" ng-bund="product.description"></div>
                        </div>
                    {% endverbatim %}
                </p>
            </div>
            {{ block('pagination') }}

        </div>
    </div>
{% endblock %}

{% block pagination %}
    <ul class="pager">
        <li class="previous">
            <a href="#" ng-show="isPreviousPage()" ng-click="previousPage()">
                {{ 'app.feed_processor.products.previousPage'|trans }}
            </a>
        </li>
        <li class="next">
            <a href="#" ng-show="isNextPage()" ng-click="nextPage()">
                {{ 'app.feed_processor.products.nextPage'|trans }}
            </a>
        </li>
    </ul>
{% endblock %}
